.navbar {
  background-color: white;
}

p.failed {
  color: red;
}

section.subdiv {
    background-color: #fafafa;
    padding: 1em;
    margin-bottom: 1em;
}

.ans-cor {
 color: green;
}

.ans-inc {
 color: darkred;
}

/* Sticky footer styles
-------------------------------------------------- */
.footer {
  /* Set the fixed height of the footer here */
  margin-top: 2em;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f8f8f8;
}
